################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIDevelopment/.vs/APIDevelopment
/APIDevelopment/APIDevelopment/bin/Debug/net6.0
/APIDevelopment/APIDevelopment/obj
/APIDevelopment/Entities/bin/Debug/net6.0
/APIDevelopment/Entities/obj
